@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<form method="post">
    <div class="form-group">
        <label for="username">Username</label>
        <input name="username" type="text" />
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input name="email" type="email" />
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input name="password" type="password" />
    </div>
    <div class="form-group">
        <label for="verifyPassword">Verify Password</label>
        <input name="verifyPassword" type="password" />
    </div> 
    <input type="submit" value="Add User" />
</form>
